page-movie-detail {
  div.main {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 15px;
  }

  img {
    border: 2px solid white;
    height: 200px;
  }

  h1,p {
    color: white;
  }

  p {
    text-align: justify;
  }

  ion-badge {
    margin-right: 3px;
    padding: 2px 3px;
  }

}
