<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" >
    <ion-title>Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="movie" >
    <div [ngStyle]="{'background': setBackground(movie.backdrop_path)}" class="main">
      <img [src]="movie.poster_path" alt="">
    </div>
    <div padding>
      <h1>{{ movie.original_title }}</h1>
      <ion-badge *ngFor="let genre of movie.genres" color="light">{{ genre }}</ion-badge>
      <p>{{ movie.release_date }}</p>
      <p>{{ movie.overview }}</p>

      <ion-grid *ngIf="movie.videos.length" no-padding>
        <ion-row>
          <ion-col col-12 col-sm-6 text-center *ngFor="let video of movie.videos" margin-bottom>
            <iframe [src]="secureUrl(video.url)"
                    frameborder="0"
                    style="width: 100%"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
