<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{  singUpMode ? 'Sing Up' : 'Sing In'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item color="dark">
    <ion-label floating>Email:</ion-label>
    <ion-input type="text" [(ngModel)]="email" ></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label floating>Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item color="dark" *ngIf="singUpMode" >
    <ion-label floating>ConfirmPassword:</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <ion-item color="dark" no-lines text-center>
    <button ion-button (click)="singIn()" *ngIf="!singUpMode" color="light">Sutmit</button>
    <button ion-button (click)="singUp()" *ngIf="singUpMode" color="light">Sutmit</button>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-item text-center color="dark">
    <button ion-button clear (click)="toogleMode()">{{  singUpMode ? 'Sing In' : 'Sing Up'}}</button>
  </ion-item>
</ion-footer>
