<!--
  Generated template for the MoviesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Movies</ion-title>
    <ion-buttons right >
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-4  *ngFor="let movie of movies" (click)="goDetail(movie)" >
        <img [src]="movie.poster_path">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
